@import 'colors.css';

/* Spacing Standards */
/* XL - 48px */
/* L - 32px*/
/* M - 16px */
/* S - 8px */
/* XS - 4px */

body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--foreground-0);
    color: var(--background-0)
}
h1 {
    font-size: 34px;
    color: var(--background-5);
    font-weight: 200;
}
h2 {
    font-size: 30px;
    color: var(--background-5);
    font-weight: 200;
}
h3 {
    font-size: 24px;
    font-weight: 200;
}
h4 {
    font-size: 20px;
    font-weight: 200;
}
h5 {
    font-size: 18px;
    font-weight: 200;
}
p {
    font-size: 18px;
}
a {
    color: inherit;
}
hr {
    border: 0;
    clear: both;
    display: block;            
    background-color: var(--gray-0);
    height: 1px;
    width: 100%;
}
div ul {
    margin: 0px;
}
div ul li {
    margin: 8px;
    font-size: 18px;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--background-0);
    color: var(--foreground-0)
}
#header h3 {
    margin-left: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
}
.headerbutton {
    cursor: pointer;
}
.headerbutton:hover {
    color: var(--foreground-4);
}
.menubar {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}
.menubutton {
    color: var(--foreground-0);
    margin-right: 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
.menubutton a {
    text-decoration: none;
    color: inherit;
}
.menubutton:hover {
    color: var(--foreground-4)
}
.project-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    max-width: 850px;
}
.project-container {
    display: flex;
    flex-direction: row;
    height: 200px;
    padding: 24px;
}
.project-info {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin: 0px;
}
.project-info-header {
    margin: 0px;
    margin-bottom: 16px;
}
.project-info-header h2 {
    display: inline-block;
    width: auto;
    margin: 0px;
    cursor: pointer;
}
.project-info-header:hover h2 {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
.project-info-header-company {
    color: var(--gray-1);
    text-transform: uppercase;
    font-weight: 200;
    margin: 0px;
}
.project-info-body{
    margin-bottom: 16px;
}
.project-info-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 200px;
}
.generalbutton {
    border-color: var(--background-5);
    background-color: var(--foreground-0);
    color: var(--background-4);
    border-width: 1px;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 18px;
    font-weight: 200;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.generalbutton:hover {
    background-color: var(--foreground-3);
}
.project-image {
    width: 200px;
    height: auto;
    display: block;
}
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    width: 100%;
    max-width: 850px;
}
.button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
    gap: 8px;
}
.design-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.design-grid {
    border: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px 10px 10px 10px;
}
.grid-tile {
    width: 200px;
    height: 200px;
    background-color: var(--background-3);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.grid-tile img {
    height: 100%;
    width: 100%;
}
.grid-tile::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s ease;
    pointer-events: none;
}
.grid-tile:hover::before{
    background:rgba(255, 255, 255, 0.3);
}
.image-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 32px;
}
.image-container img {
    width: 200px;
    height: auto;
    display: block;
}
.image-text-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    margin-top: 32px;
}
.image-text-container img {
    width: 50%;
    height: auto;
    object-fit: contain;
}
.image-text-container h2 {
    margin: 0px;
}
.text-container {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 16px;
}
.text-container h2 {
    margin: 0px;
}
.portfolio-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    margin-top: 32px;
    width: 100%;
}
.portfolio-container h2 {
    margin: 16px 0px 16px 0px;
    white-space: nowrap;
}
.portfolio-container h4 {
    margin: 16px 0px 8px 0px;
    color: var(--background-4);
}
.portfolio-container h5 {
    margin: 16px 0px 4px 0px;
}
.portfolio-container p {
    margin: 0px;
    line-height: 24px;
}
.portfolio-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    white-space: nowrap
}
.hero-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-0);
    color: var(--foreground-0);
    border-radius: 4px;
    width: 100%;
    padding: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.hero-container h2 {
    font-size: 90px;
    color: var(--foreground-0);
    margin: 0px;
    padding: 0px;
}
.hero-container p {
    font-size: 54px;
    margin: 0px;
    padding: 0px;
    line-height: 54px;
}
.title-container {
    text-align: center;
    padding-bottom: 32px;
}
.title-container h1, p {
    margin: 0px;
}
.icon-container {
    background-color: var(--background-0);
    border-radius: 8px;
    margin-right: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}
.tag-container {
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0px;
    gap: 4px;
}
.tag {
    background-color: var(--background-4);
    color: var(--foreground-0);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 200;
    display: inline-block;
    white-space: nowrap;
}
.project-metadata {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    margin-bottom: 16px;
    gap: 8px;
}
.data-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-width: 120px;
    gap: 8px;
}
.data-label {
    display: flex;
    align-items: start;
    color: var(--gray-1);
    font-size: 18px;
    font-weight: 200;
}
.data-label-title {
    color: var(--gray-0);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 200;
}

@media (max-width: 750px) { /* Change for small screens */
    .image-text-container {
        align-items: center;
        flex-direction: column;
    }
    .image-text-container img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }
    .design-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .project-container {
        flex-direction: column;
    }
    .project-info-footer {
        justify-content: flex-start;
    }
}